html, body {
    margin: 0;
    padding: 0;
    background-color: purple;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}