html, body {
    margin: 0;
    padding: 0;
    background-color: purple;
    width: 100%;
    height: 100%;
}

.header-container {
    width: 100%;
    background-color: tomato;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left-container {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 25px;
}

.header-flush-bottom {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo-container {
    margin-left: 25px;
}

.logo-text {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: 900;
    color: white;
}

.header-link {
    text-decoration: none;
}

.header-text-container {
    margin-left: 25px;
}

.header-text {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
    color: white;
}

.header-text:hover {
    opacity: 0.8;
}

.header-right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header-button {
    background-color: white;
    border-radius: 5px;
    border: 2px solid purple;
    box-shadow: 2px 4px 4px rgba(0, 0, 20, 0.4);
    color: purple;
    padding: 10px;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
    margin-right: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.header-button:hover {
    background-color: purple;
    color: white;
}

.header-button:active {
    transform: scale(.9);
}

.body-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collatz-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.collatz-label {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
    font-weight: 500;
}

.collatz-text-input {
    border: 2px solid purple;
    border-radius: 5px;
    margin-top: 2px;
    margin-right: 25px;
}

.main-container {
    /* flex: 1;
    display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    height: 100%;
    width: 100%;
    background-color: purple;
    overflow: auto;
}

.svg-container {
    display: flex;
    min-height: min-content;
    min-width: min-content;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    padding: 1%;
}

.about-h1 {
    font-size: xx-large;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
}

.article-container {
    font-size: medium;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
}

.p-center {
    text-align: center;
}

.quote {
    text-align: center;
    font-style: italic;
    font-size: large;
}

.about-code {
    font-family: "Ubuntu Mono", 'Courier New', Courier, monospace;
}

.about-link {
    text-decoration: underline;
    color: white;
}

.about-link:hover {
    color: tomato;
}